body {
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    padding: 0 20px;
}

header nav {
    padding: 0 20px;
}

header nav a {
    color: white;
    margin-right: 10px;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%;
    border: 1px solid #ced4da;
    padding: 10px;
    margin: 5px 0 20px 0;
    border-radius: .25rem;
}

form input[type="submit"] {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: .25rem;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}